<div class="wrap" tabindex="0">
  <div class="login-box">
    <div class="login-title">demo登录页面</div>
    <div class="login-content">
      <div class="inp-name inp-wrap">
        <input
          type="text"
          [(ngModel)]="userInfo.name"
          (ngModelChange)="changeUserName()"
          placeholder="请输入账号"
          #inpName
        />
      </div>
      <div class="inp-pwd inp-wrap">
        <input
          type="password"
          [(ngModel)]="userInfo.password"
          (ngModelChange)="changePwd()"
          placeholder="请输入密码"
        />
      </div>
      <button
        [disabled]="!btnChecked"
        [ngClass]="{ btnDisabled: btnChecked == false }"
        (click)="checkLogin()"
      >
        登录
      </button>
    </div>
  </div>
</div>
