<div class="wrap">
  <div class="header-row">
    <div class="header-left">codeReview</div>
    <div class="header-right">
      <div class="header-right-userInfo">
        <div class="handle-popover" (click)="handlePopover($event)">
          <img src="assets/images/layout/header_img.jpg" alt="">
          <span class="triangle"></span>
        </div>
        <span class="username">{{username}}</span>
      </div>
      <div (click)="goBack()" class="go-back"></div>
    </div>
  </div>
  <div class="router-out">
    <router-outlet></router-outlet>
  </div>
  <!-- 气泡卡片 -->
  <div class="popover" *ngIf="isClickPopover">
    <p (click)="loginOut()">退出登录</p>
  </div>
</div>
