.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .thunk-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 6px #ccc;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
  }
  .content-left {
    height: 100%;
    width: 60%;
  }
  .content-right {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content-right-top {
      height: calc(60% - 10px);
    }
    .content-right-bottom {
      height: calc(40% - 10px);
    }
  }
  .card-top-title {
    height: 40px;
    background-color: #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-title-info {
      &::before {
        content: "";
        background-color: #0059b2;
        padding: 0 4px;
        border-radius: 2px;
        margin: 0 10px;
      }
    }
    .page-turn {
      .author-source-left,
      .author-source-right {
        cursor: pointer;
        padding: 0 10px;
        height: 100%;
        display: inline-block;
        line-height: 40px;
        font-size: 18px;
        &:hover {
          color: #0059b2;
        }
      }
    }
  }
  .card-content {
    height: calc(100% - 60px);
    overflow: hidden;
    .card-content-page {
      height: 100%;
      padding-left: 20px;
      overflow-y: auto;
      .card-content-info:not(:last-child) {
        box-shadow: 0px 10px 10px -10px #999;
        border-bottom: 1px solid #ccc;
      }
      .card-content-info {
        margin-bottom: 10px;
        .card-info-title {
          color: rgba(0, 89, 178, 0.6);
        }
        .card-info-body {
          animation: pageturn 1.5s;
          padding-left: 30px;
          margin-bottom: 10px;
          .card-body-tsHeader {
            color: #0059b2;
            margin-right: 10px;
          }
          .card-body-tsImg {
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
          }
          .card-body-btn {
            width: 45px;
            height: 25px;
            background: #fff;
            color: #2cbdc5;
            border: 1px solid #2cbdc5;
            border-radius: 4px;
            margin-left: 20px;
            outline: 0;
            cursor: pointer;
          }
          .card-body-tsInfo2 {
            color: red;
          }
        }
      }
    }
  }
}
@keyframes pageturn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
