<div class="wrap">
  <div class="change-btn">
    <button (click)="changeBtn()">切换模式</button>
  </div>
  <div class="content-top google-scrollbar">
    <div class="content-top-wrap">
      <div class="content-top-left">
        <div class="card-top-title">angular框架</div>
        <div class="card-content google-scrollbar">
          <ng-container *ngIf="switchView; else otherAngular">
            <div echarts [options]="angularView" class="chart-canvas chart-angular"></div>
          </ng-container>
          <ng-template #otherAngular>
            <div class="angular-info card-info" *ngFor="let item of angularInfoArr">
              <div>
                <span>{{ item.title }}：</span>{{ item.description }}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="content-top-middle">
        <div class="card-top-title">架构思路</div>
        <div class="card-content google-scrollbar">
          <ng-container *ngIf="switchView; else otherFrame">
            <div echarts [options]="frameView" class="chart-canvas chart-frame"></div>
          </ng-container>
          <ng-template #otherFrame>
            <div class="frame-info card-info" *ngFor="let item of frameInfoArr">
              <div>
                <span>{{ item.title }}：</span>{{ item.description }}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="content-top-right">
        <div class="card-top-title">CSS3样式</div>
        <div class="card-content google-scrollbar">
          <ng-container *ngIf="switchView; else otherCSS">
            <div echarts [options]="cssView" class="chart-canvas chart-css"></div>
          </ng-container>
          <ng-template #otherCSS>
            <div class="css-info card-info" *ngFor="let item of cssInfoArr">
              <div>
                <span>{{ item.title }}：</span>{{ item.description }}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <div class="content-bottom-left">
      <div class="card-top-title">评论区</div>
      <div class="card-content google-scrollbar">
        <ng-container *ngIf="switchView; else otherSpeak">
          <div echarts [options]="speakView" class="chart-canvas chart-speak"></div>
        </ng-container>
        <ng-template #otherSpeak>
          <app-speak-area></app-speak-area>
        </ng-template>
      </div>
    </div>
    <div class="content-bottom-right">
      <div class="card-top-title">参考资源</div>
      <div class="card-content google-scrollbar">
        <ng-container *ngIf="switchView; else otherSource">
          <div echarts [options]="sourceView" class="chart-canvas chart-source"></div>
        </ng-container>
        <ng-template #otherSource>
          <div class="source-info card-info" *ngFor="let item of sourceInfoArr">
            <div>
              <span>{{ item.title }}：</span>{{ item.description }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
