<div class="wrap">
  <div class="change-btn">
    <button (click)="changeBtn()">切换模式</button>
  </div>
  <div class="content-top google-scrollbar">
    <div class="content-top-wrap">
      <div class="content-top-left">
        <ng-container
          *ngTemplateOutlet="
            CardView;
            context: {
              $title: 'angular框架',
              $otherDiv: 'otherAngular',
              $view: angularView,
              $contentInfo: angularInfoArr
            }
          "
        ></ng-container>
      </div>
      <div class="content-top-middle">
        <ng-container
          *ngTemplateOutlet="
            CardView;
            context: {
              $title: '架构思路',
              $otherDiv: 'otherFrame',
              $view: frameView,
              $contentInfo: frameInfoArr
            }
          "
        ></ng-container>
      </div>
      <div class="content-top-right">
        <ng-container
          *ngTemplateOutlet="
            CardView;
            context: {
              $title: 'CSS3样式',
              $otherDiv: 'otherCSS',
              $view: cssView,
              $contentInfo: cssInfoArr
            }
          "
        ></ng-container>
      </div>
    </div>
  </div>
  <!-- 评论区因为内容区域引用了其他组件，不使用公共卡片模版 -->
  <div class="content-bottom">
    <div class="content-bottom-left">
      <div class="card-top-title">评论区</div>
      <div class="card-content google-scrollbar">
        <ng-container *ngIf="switchView; else otherSpeak">
          <div
            echarts
            [options]="speakView"
            class="chart-canvas chart-speak"
          ></div>
        </ng-container>
        <ng-template #otherSpeak>
          <app-speak-area></app-speak-area>
        </ng-template>
      </div>
    </div>
    <div class="content-bottom-right">
      <ng-container
        *ngTemplateOutlet="
          CardView;
          context: {
            $title: '参考资源',
            $otherDiv: 'otherSource',
            $view: sourceView,
            $contentInfo: sourceInfoArr
          }
        "
      ></ng-container>
    </div>
  </div>
</div>

<!-- card公共模版-->
<ng-template
  #CardView
  let-title="$title"
  let-otherDiv="$otherDiv"
  let-view="$view"
  let-contentInfo="$contentInfo"
>
  <div class="card-top-title">{{ title }}</div>
  <div class="card-content google-scrollbar">
    <ng-container *ngIf="switchView; else otherDiv">
      <div echarts [options]="view" class="chart-canvas"></div>
    </ng-container>
    <ng-template #otherDiv>
      <div class="card-info" *ngFor="let item of contentInfo">
        <div>
          <span>{{ item.title }}：</span>{{ item.description }}
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
